<div class="container pt-4">
  <form action="./game" method="post">
    <input type="text" name="title" placeholder="Game title" class="form-control w-auto d-inline me-2" required>
    <input type="submit" value="Create game" class="btn btn-primary d-inline">
  </form>
</div>