<% for(const game of games) { %>
  <div class="game">
    <p><%= game.title %></p>
    <a href="./game/<%= game._id %>/edit" class="btn btn-primary">Edit</a>
    <a href="./game/<%= game._id %>" class="btn btn-primary">Play</a>
  </div>
<% } %>