<script type="module" src="./js/editForm.js"></script>
<link rel="stylesheet" href="./css/edit.css">

<form action="./game/<%= game._id %>" id="edit-form" enctype="multipart/form-data" class="form">
  <label class="my-3 w-100">
    <p>Title</p>
    <input type="text" name="title" placeholder="Title" value="<%= game.title %>" class="form-control" required>
  </label>
  <label class="mb-3 w-100">
    <p>Description</p>
    <textarea type="text" name="description" placeholder="Description" class="form-control" rows="5"><%= game.description %></textarea>
  </label>
  <label class="mb-3 w-100">
    <p>Map image</p>
    <input type="file" name="mapUrl" placeholder="Map URL" class="form-control mb-3">
  </label>
  <br>
  <input type="submit" value="Save changes" class="btn btn-primary mb-3">
  <br>
  <a href="./game/<%= game._id %>/edit/location">Edit locations</a>
</form>