<link rel="stylesheet" href="./css/game.css" />
<script type="module" src="./js/index.js"></script>

<geocreator-timer id="timer"></geocreator-timer>
<img src="" alt="Screenshot" id="screenshot" />

<div id="map-container">
  <geocreator-map src="./geocreator/img/placeholder_map.webp" id="map"></geocreator-map>
  
  <form action="" id="guess-form">
    <input type="submit" class="btn btn-primary" value="Submit guess"></button>
  </form>
</div>

<div id="round-over">
  <p>Score: <span id="score"></span></p>
  <button id="next-button">Next round</button>
</div>

<div id="game-over">
  <p>Game over! Your score: <span id="total-score"></span></p>
</div>