<link rel="stylesheet" href="./css/game.css" />
<script type="module" src="./js/index.js"></script>

<div id="pre-start-div" class="container">
  <h1 class="mt-4"><%= game.title %> <span class="h5 text-muted">by <%= game.creator?.username %></span></h1>
  <div class="d-flex gap-2 mt-3">
    <a href="" class="btn btn-success" id="play-button">Play</a>
    <% if (editable) { %>
      <a href="./game/<%= game._id %>/edit" class="btn btn-secondary">Edit</a>
    <% } %>
  </div>
</div>

<div id="game-div" class="position-relative h-100 w-100" hidden>
  <geocreator-timer id="timer" class="position-absolute" stopped></geocreator-timer>
  <img src="" alt="Screenshot" id="screenshot" class="mw-100 mh-100" />
  
  <div id="map-container">
    <geocreator-map src="<%= game.mapUrl %>" id="map" allowplacingmarker class="w-100 h-100"></geocreator-map>
  
    <form action="" id="guess-form">
      <input type="submit" class="btn btn-primary" value="Submit guess"></button>
    </form>
  </div>
  
  <div id="round-over" hidden>
    <p>Score: <span id="score"></span></p>
    <button id="next-button">Next round</button>
  </div>
  
  <div id="game-over" hidden>
    <p>Game over! Your score: <span id="total-score"></span></p>
    <div class="mx-auto">
      <table id="highscore-table" class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">Score</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>